.brown {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: 20px;
}